--extra-index-url https://download.pytorch.org/whl/cpu

torch==2.0.1+cpu
torchvision==0.15.2+cpu
torchaudio==2.0.2+cpu

streamlit
opencv-python-headless
moviepy==1.0.3
pandas
numpy==1.26.4

scipy
pyyaml==5.1
ffmpeg-python

tensorflow
